{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce {{ ad.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réserver l'annonce {{ ad.title }}</h1>
        <p>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong>, veuillez choisir les dates de votre réservation.</p>

        {{ form_start(form) }}
        <div class="alert alert-light">
            <h2>Date du séjour :</h2>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
        </div>
        <div class="text-center">
            <h4>Montant du séjour : <span id="amount">0</span> &euro;</h4>
            <span id="days">0</span> nuit(s) à {{ ad.price }} / nuit
        </div>

        <div class="pt-5">
            <h2>Vous avez un commentaire à faire concernant cette réservation ?</h2>
            {{ form_widget(form.comment) }}
        </div>

        <button type="submit" class="btn btn-success">Valider la réservation</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById('booking_startDate').addEventListener("change", calculateAmount)
        document.getElementById('booking_endDate').addEventListener("change", calculateAmount)

        function calculateAmount () {
            const endDate = new Date(document.getElementById('booking_endDate').value.replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date(document.getElementById('booking_startDate').value.replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'))

            if (startDate && endDate && startDate < endDate) {
                const DAY_TIME = 24 * 60 * 60 * 1000;
                const interval = endDate.getTime() - startDate.getTime()
                const days = interval / DAY_TIME
                const amount = days * {{ ad.price }};
                document.getElementById('days').innerText = days;
                document.getElementById('amount').innerText = amount
            }

        }
    </script>
{% endblock %}
